<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">

    <title>{% block title %}{% endblock %}</title> 

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="jm8IGIWg4dsm0cTmih0sIVnUaWibc_hpOiQOlqb--9Y"> 
    <meta name="yandex-verification" content="4b85f46617ab1114"> 
    <meta name="y_key" content="04bed234d6a405cc"> 
    <meta name="msvalidate.01" content="62188F55275960794DDFA698C3EA9F05">

    <link rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.ru">
    <link rel="sitemap" href="{{ url_for("blog.sitemap", _external=True) }}">

    {% if post %}
        <link rel="canonical" href="{{ url_for("blog.post", slug=post.slug, _external=True) }}">

        <link rel="up archives" href="{{ url_for("blog.archive", _external=True) }}">

        {% if next_slug %}
            <link rel="next" href="{{ url_for("blog.post", slug=next_slug, _external=True) }}">
        {% endif %}

        {% if prev_slug %}
            <link rel="prev" href="{{ url_for("blog.post", slug=prev_slug, _external=True) }}">
        {% endif %}

        <meta property="og:title" content="{{ post.title }}">
        <meta property="og:description" content="{{ post.content | striptags | truncate(300) | trim }}">
        <meta property="og:type" content="article">
        <meta property="og:site_name" content="mindcollapse.com">
        <meta property="og:url" content="{{ url_for("blog.post", slug=post.slug, _external=True) }}">

        <meta name="description" content="{{ post.content | striptags | truncate(160) | trim }}">

        <meta name="twitter:card" content="summary">
        <meta name="twitter:creator" content="@middlesizetit">
        <meta name="twitter:description" content="{{ post.content | striptags | truncate(200) | trim }}">
        <meta name="twitter:title" content="{{ post.title | truncate(70) | trim }}">
    {% endif %}

    <link rel="author" href="https://plus.google.com/110904145311662435301">
    <link rel="icon" href="http://www.mindcollapse.com/favicon.ico" type="image/vnd.microsoft.icon">
    <link rel="alternate" type="application/atom+xml" title="RSS лента mindcollapse.com" href="{{ url_for("blog.rss", _external=True) }}"> 

    {% assets "blog_css" %}
        <link href="{{ ASSET_URL }}" rel="stylesheet" media="all">
    {% endassets %}

    {% assets "blog_js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}" defer></script>
    {% endassets %}

    <!--[if lt IE 9]>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/respond.js/1.3.0/respond.js"></script>
    <![endif]-->
</head>

<body class="mindcollapse">
    <div class="container">

        <div class="header navbar navbar-default hidden-print" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".blogmenu">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a href="{{ url_for("blog.index") }}" class="navbar-brand">Владимир Смирнов</a>
            </div>

            <div class="collapse navbar-collapse blogmenu">
                <ul class="nav navbar-nav">
                    <li {% if active == "blog.post" %}class="active"{% endif %}><a href="{{ url_for("blog.index") }}">Блог</a></li>
                    <li {% if active == "blog.archive" %}class="active"{% endif %}><a href="{{ url_for("blog.archive") }}">Архив</a></li>
                    <li><a target="_blank" href="/moho/">Кино</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><a target="_blank" href="http://www.twitter.com/middlesizetit">Twitter</a></li>
                    <li><a target="_blank" href="https://github.com/mindcollapse">GitHub</a></li>
                    <li><a href="{{ url_for("blog.rss", _external=True) }}">RSS</a></li>
                </ul>
            </div>
        </div>

        {% block content %}{% endblock %}
    </div>

    <!-- Yandex.Metrika counter --><script type="text/javascript">(function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter22151810 = new Ya.Metrika({id:22151810, clickmap:true, trackLinks:true, accurateTrackBounce:true}); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="//mc.yandex.ru/watch/22151810" style="position:absolute; left:-9999px;" alt="" /></div></noscript><!-- /Yandex.Metrika counter -->      
</body>

</html>